<h2>Add a New Student</h2>
<form action="/addStudent" method="POST">
  <label for="firstName">First Name</label>
  <input type="text" name="first_name" placeholder="First Name">
  <label for="lastName">Last Name</label>
  <input type="text" name="last_name" placeholder="Last Name">
  <label for="cohortName">Cohort Name</label>
  <select name="cohort_id">
    <option value="1">g25</option>
    <option value="2">g213</option>
  </select>
  <button type="submit">Add Student</button>
</form>
